body {
  /* Ici on utilise le sélecteur body pour appliquer une police et une taille par défaut pour les éléments */
  font-family: 'Manrope', sans-serif;
  font-size: 1em;
  background: #1F2039;
}

.liens {
  background-color: white;
}

.liens a {
  color: #242424;
}

p, li, h2 {
  color: #F9F8FF;
}

a {
  color: black;
  text-decoration: none;
}

em {
  color: #a5b4fc;
  font-style: normal;
}

h1 {
  font-size: 3.5em;
  color: #a5b4fc;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 1.1em;
}

.contact {
  font-family: "Manrope";
  color: white;
  background: linear-gradient(#8E86B5,#ACAEED);
}
